<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All TV Shows</title>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='my_style.css') }}"> -->
</head>

<body>
    <h1>Howdy {{session["first_name"]}}!</h1>    
    
    <a href="/new-show-page">+ Create</a>
    <a href="/logout">Logout</a>
    
    <h2>All TV Shows: </h2>
    
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Network</th>
                <th>Release Date</th>
                <th>Actions</th>
                <th>Like!</th>
            </tr>            
        </thead>
        <tbody>
            {% for show in all_shows: %}            
                <tr>
                    <td>{{show.title}}</td>                                       
                    <td>{{show.network}}</td>
                    <td>{{show.showdate}}</td>
                    <td>
                        <a href="/view-show/{{show.id}}">show</a>
                        {% if session["id"] == show.posted_by_id %}
                            <a href="/edit-page/{{show.id}}">edit</a>
                            <a href="/delete-show/{{show.id}}">delete</a>
                        {% endif %}
                    </td>
                    <td>
                    {% if show.poster.id != session["id"] %}                        
                        {% if show.id in user_show_likes %}
                            <a href="/unlike/{{session['id']}}/{{show.id}}">unlike</a>
                        {% else %}
                        <a href="/like/{{session['id']}}/{{show.id}}">like</a>                            
                        {% endif %}
                    {% endif %}                        
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>
</html>