<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Show</title>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='my_style.css') }}"> -->
</head>

<body>
    <h1>Edit Show</h1>            
    <a href="/logged-in">TV Shows</a>
    <a href="/logout">Logout</a>
    
    {% with messages = get_flashed_messages() %}
        {% if messages: %}
            {% for message in messages: %}
                <p>{{message}}</p>                   
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <form action="/update-show/{{show.id}}" method="post">
        <label>Title</label>        
        <input type="text" name="title" value="{{show.title}}">
        
        <label>Network</label>        
        <input type="text" name="network" value="{{show.network}}">
        
        <label>Release Date</label>
        <input type="date" name="release_date" value="{{show.release_date}}">
        
        <label>Description</label>        
        <input type="text" name="description" value="{{show.description}}">
        
        <input type="submit" value="Update">
    </form>
</body>
</html>