<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Painting</title>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='my_style.css') }}"> -->
</head>

<body>         
    <a href="/logged-in">TV Shows</a>
    <a href="/logout">logout</a>
    <h1>{{show.title}}</h1>
    
    <h3>Network</h3>
    <p>{{show.network}}</p>
    
    <h3>Release Date</h3>
    <p>{{show.release_date}}</p>
       
    <h3>Description</h3>
    <p>{{show.description}}</p>
    
    <h3>Posted By:</h3>
    <p>{{show.poster.first_name}} {{show.poster.last_name}}</p>
    
    <h3>Likes</h3>
    <p>{{show.likes.num_likes}}</p>
    
</body>
</html>