<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard.css') }}">
</head>

<body>
    
    <div class="topnav">
        <h1>CodingDojo Wall</h1>
        <h2>Welcome, {{loser.first_name}}</h2>
        <a href="/">Home</a>
    </div>            
    
    <div class="big-container">
        <div class="left-container">
            <h3>{{all_things|length}} unread messages</h3>
            
            {% for row in all_things: %}
                <p>{{row["first_name"]}} said ({{row["minutes_passed"]}} minutes ago)</p>
                <p> {{row["message"]}}</p>
                <a href="/delete/{{row['receiver_id']}}/{{row['message_id']}}"><img src="{{ url_for('static', filename='trash-can.png') }}"></a>
            {% endfor %}
            
        </div>
        
        <div class="right-container">
            <h3>Send Messages</h3>
            <h3>You have sent {{sent_messages_count}} message(s) so far</h3>            
            
            <form action="/send-message/{{loser.id}}" method="post">
                {% for other_loser in other_losers: %}
                    <input type="hidden" name="receiver_id" value="{{other_loser.id}}">
                    <label>{{other_loser.first_name}}</label>
                    <input type="text" name="message">
                    <input type="submit" value="Send">
                {% endfor %}                                               
            </form>
        </div>
    </div>
    
</body>
</html>