<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Table</title>
</head>
<body>
    <div class = "container">
        <div class = "table-container">
            <table>
                <tr>
                    <th>
                        First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                        Full Name
                    </th>
                </tr>
                {% for row in range(users_length): %}
                    <tr>
                        <td>
                            {{ users[row]["first_name"] }}
                        </td>
                        <td>
                            {{ users[row]["last_name"] }}
                        </td>
                        <td>
                            {{ users[row]["first_name"] + " " + users[row]["last_name"] }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>