<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Dojo</title>
</head>

<body>
    <h1>
        {{ dojo.name }} Ninjas
    </h1>
    <table>
        <thead>
            <tr>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Age
                </th>
            </tr>
        </thead>
        <tbody>
            {% for ninja in ninjas %}
                <tr>
                    <td>
                        {{ ninja.first_name }}
                    </td>
                    <td>
                        {{ ninja.last_name }}
                    </td>
                    <td>
                        {{ ninja.age }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/">Home</a>
</body>

</html>