<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books Home Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home_page.css') }}">
</head>

<body>
    <div class="big-container">
        <div class="left-container">
            <h1>New Author</h1>
            <form action="/add-user" method="post">
                <label for="user-name">New Author: </label>
                <input type="text" name="name" placeholder="Java World">
                <input type="submit" value="Create">
            </form>
        </div>
        <div class="right-container">
            <h1>All Authors</h1>
            {% for user in users %}
            <a href="/user-info-page/{{user.id}}">{{user.name}}</a>
            {% endfor %}
            <a href="/new-user">Add Book</a>
        </div>
    </div>
</body>

</html>