<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paintings</title>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='my_style.css') }}"> -->
</head>

<body>      
    <a href="/new-painting-page">Add Painting</a>         
    <a href="/logged-in">Dashboard</a>
    <a href="/logout">Logout</a>
    <h1>{{painting.title}}</h1>
    <h2>Painted By {{painting.author.first_name}}</h2>
    
    <h3>Description</h3>
    <p>{{painting.description}}</p>
    
    <h3>Price</h3>
    <p>${{painting.price}}.00</p>
    
    <h3>Number Purchased</h3>
    <p>{{num_purchases}}</p>
    
    {% if num_purchases >= painting.quantity %}
    <p>Sold Out</p>
    {% else %}
    <form action="/buy/{{painting.id}}/{{painting.quantity}}/{{session['id']}}" method="post">
        <input type="submit" value="Buy">
    </form>
    
    {% endif %}
</body>
</html>