<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users C</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='users-r.css') }}">
</head>

<body>
    <div class = "top-container">
        <h1>
            User Info
        </h1>
        <a href = "/">Home</a>
    </div>
    
    <h2>
        Full Name: {{ user["first_name"] ~ " " ~ user["last_name"] }}
    </h2>
    <h2>
        Email: {{ user["email"] }}
    </h2>
    <h2>
        Created On: {{ user["created_at"] }}
    </h2>
        
</body>

</html>