<!DOCTYPE html>

<html>
    
    <head>
        
        <title>Recipes</title>    
        
        <script src="static/scripts/home.js"></script>
        
    </head>
    
    <body>
        
        <h1>Register</h1>
        
        <form>
            
            <label>First Name: </label>
            <input type="text" name="first_name" value="Bob">
            
            <label>Last Name: </label>
            <input type="text" name="last_name" value="Stinger">
            
            <label>Email: </label>
            <input type="text" name="email" value="bobstinger@email.com">
            
            <label>Confirm Email: </label>
            <input type="text" name="confirm_email" value="bobstinger@email.com">
            
            <label>Password: </label>
            <input type="password" name="password" value="hahatoto">
            
            <label>Confirm Password: </label>
            <input type="password" name="confirm_password" value="hahatoto">
            
            <input type="submit" value="Register">
            
        </form>
        
        <h1>Login</h1>
        
        <form>
            
            <label>Email: </label>
            <input type="text" name="email" value="bobstinger@email.com">
            
            <label>Password: </label>
            <input type="password" name="password" value="hahatoto">
            
            <input type="submit" value="Login">
            
        </form>
        
    </body>
    
</html>