<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Three Boxes</title>
	<style>
		h1 {
			text-align: center;
			margin-top: 100px;
			margin-bottom: -50px;
			font-size: 50px;
		}
		.top-boxes-container {
			display: flex;
			align-items: center;
		}

		.box {
			border: 1px solid black;
			width: 400px;
			height: 400px;
			margin: 100px 100px 0px 125px ;
			background-color: rgb(158,197,248);
		}
	</style>
</head>
<body>
    <div class = "big-container">
	<div class = "welcome-container">
		<h1>
			Welcome!
		</h1>
        </div>
	<div class = "top-boxes-container">
		<div class = "box">
		</div>
		<div class = "box">
		</div>
		<div class = "box">
		</div>
        </div>
	<div class = "top-boxes-container">
        </div>
    </div>
</body>
</html>