/* .topnav {
    display: flex;
    align-items: last baseline;
    justify-content: space-between; 
    border-bottom: 1px solid black;
}

.big-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.left-container {
    flex: 1;
    border-right: 1px solid black;
    text-align: center;
}

.right-container {
    flex:1;
    text-align: center;
    display: block;
}

form {
    display: block;
    margin-top: 20px;
} */